= "Hi #{@user.user_name},"
\
We would like to inform you that the book you have checked out,
= @book.title
, is due in #{pluralize(Rails.configuration.remind_before, 'day')}. If you don't
return this book by
= @checkout.due_date.strftime('%B %d, %Y')
you will recieve a strike. It you need to keep the book longer than that, please
stop by to renew the book.
\
\- The Society of Software Engineers