= form_for strike do |f|
  -if strike.errors.any?
    #error_explanation
      %h2= "#{pluralize(strike.errors.count, "error")} prohibited this strike from being saved:"
      %ul
        - strike.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :distributor
    = f.text_field :distributor
  .field
    = f.label :other_info
    = f.text_field :other_info
  .actions
    = f.submit 'Save'
