%h3 Listing strikes

%table.table.table-striped.table-hover
  %tr
    %th Patron
    %th Distributor
    %th Reason
    %th Other Info
    %th
    %th

  - @strikes.each do |strike|
    %tr{onclick: "location.href='#{strike_path(strike)}'"}
      %td= strike.patron.user_name
      %td= strike.distributor.user_name
      %td= strike.reason.message
      %td= strike.other_info
      %td= link_to 'Edit', edit_strike_path(strike)
      %td= link_to 'Destroy', strike, data: { confirm: 'Are you sure?'}, method: :delete
%br
