%p
  %b Patron:
  = @strike.patron.user_name
%p
  %b Distributor:
  = @strike.distributor.user_name
%p
  %b Message:
  = @strike.message

= link_to 'Edit', edit_strike_path(@strike)
\|
= link_to 'Back', strikes_path
