.well.well-small
  = form_for author do |f|
    - if author.errors.any?
      #error_explanation
        %h2= "#{pluralize(author.errors.count, "error")} prohibited this author from being saved:"
        %ul
          - author.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control'
    .form-group
      = f.label :middle_initial
      = f.text_field :middle_initial, class: 'form-control'
    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control'
    .form-group
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', back_path, class: 'btn btn-default'
