.page-header
  %h1= @user.user_name

.row
  %dl.dl-horizontal
    %dt Role
    %dd= @user.role.name.capitalize
    %dt Strikes Recieved
    %dd= "#{@user.active_strikes.count} active/ #{@user.inactive_strikes.count} inactive"
    %dt Strikes
    - if @user.strikes.count == 0
      %dd No strikes. Good job!
    - else
      - @user.active_strikes.each do |strike|
        %dd= link_to strike.message, strike
      %i
        - @user.inactive_strikes.each do |strike|
          %dd= link_to strike.message, strike
    %dt Banned
    %dd= @user.banned ? 'Yes' : 'No'

.page-header
  %h2 Active Checkouts

= render 'display_books', list: @user.active_checkouts

.page-header
  %h2 Active Reservations

= render 'display_books', list: @user.active_reservations

.page-header
  %h2 Inactive Checkouts

= render 'display_books', list: @user.inactive_checkouts

.page-header
  %h2 Inactive Reservations

= render 'display_books', list: @user.inactive_reservations