.book-block
  .row
    .span1
      - if book.google_book_data.img_thumbnail != ''
        = link_to image_tag(book.google_book_data.img_thumbnail), book
      - else
        = link_to "", book, class: "blank-thumbnail"
    .span10
      %h4
        = link_to book.title, book
      %h5
        = link_to book.subtitle, book
      %ul.commas
        - book.author.each do |author|
          %li
            %i
              = link_to author.full_name, author
      .isbn
        %small
          ISBN:
          = book.ISBN