%h1
  = @book.title
- if @book.google_book
  .row
    .span2
      %img{src: @book.google_book.covers[:small], class: "img-polaroid"}
    .span10
      %p
        = @book.google_book.description

%h3
  Bibliographic information

%dl.dl-horizontal
  %dt Authors
  %dd
    %ul.commas
      - @book.author.each do |author|
        %li
          = link_to author.full_name, author

  %dt ISBN
  %dd 
    =@book.ISBN

  %dt Publish date
  %dd
    = @book.publish_date 


= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
