.title
  %h1
    = @book.title
  %h4
    %i
      = @book.subtitle



.row
  .col-md-2.text-center
    - if @book.google_book_data.img_small.present?
      %img{src: @book.google_book_data.img_small, class: "img-polaroid" }
    -else
      .blank-thumbnail-large


    %h4
      - if @book.checked_out?
        %p.text-error Checked Out
      - elsif @book.reserved?
        %p.text-warning Reserved
      - else
        %p.text-success Available
    %div
      - count = @rating
      - 5.times do
        - if count >= 1
          %i.fa.fa-lg.fa-star.text-warning
          - count -= 1
        - elsif count >= 0.5
          %i.fa.fa-lg.fa-star-half-o.text-warning
          - count -= 0.5
        - else
          %i.fa.fa-lg.fa-star-o.text-warning
    %em.text-muted
      = @rating
      |
      = "#{@num_ratings} ratings"
      %br
      from
      %a{href:'https://goodreads.com', target: '_blank'} Goodreads
    - if user_signed_in?
      .book-actions
        - if Reservation.has_reservation(@book, current_user)
          %a{href: "#", class:"btn btn-primary", disabled: true}
            Reserved
        - else
          = form_for :reservation, url: "/reservations" do |f|
            = f.hidden_field "book_id", value: @book.id
            = f.hidden_field "user_id", value: current_user.id
            = f.submit "Make Reservation", class: "btn btn-primary"
        %div
          = pluralize(@book.reservations.where(fulfilled: false).count, 'reservation')
  .col-md-10
    %dl.dl-horizontal
      %dt Authors
      %dd
        %ul.commas
          - @book.authors.each do |author|
            %li
              = link_to author.full_name, author

      %dt ISBN
      %dd
        =@book.isbn
      %dt LCC
      %dd
        =@book.lcc

      %dt Publish date
      %dd
        = @book.publish_date

      - if @book.google_book_data.description != ""
        %dt Description
        %dd
          = @book.google_book_data.description
