.title
  %h1
    = @book.title
  %h4
    %i
      = @book.subtitle



.row
  .span2.text-center
    - if @book.google_book 
      %img{src: @book.google_book.covers[:small], class: "img-polaroid" }
    -else
      .blank-thumbnail-large

    
    %h4
      - if @book.checked_out?
        %p.text-error Checked Out
      - elsif @book.reserved?
        %p.text-warning Reserved
      - else
        %p.text-success Available

    - if user_signed_in?
      .book-actions
        - if Reservation.has_reservation(@book, current_user)
          %a{href: "#", class:"btn btn-primary", disabled: true}
            Reserved
        - else  
          - if Checkout.checked_out(@book, current_user)
            %a{href: "#", class:"btn btn-primary", disabled: true}
              Checked Out
          - else
            = form_for :reservation, url: "/reservations" do |f|
              = f.hidden_field "book_id", value: @book.id
              = f.hidden_field "user_id", value: current_user.id
              = f.submit "Make Reservation", class: "btn btn-primary"
  .span10
    %dl.dl-horizontal
      %dt Authors
      %dd
        %ul.commas
          - @book.author.each do |author|
            %li
              = link_to author.full_name, author

      %dt ISBN
      %dd 
        =@book.ISBN

      %dt Publish date
      %dd
        = @book.publish_date 

      - if @book.google_book 
        %dt Description
        %dd
          = @book.google_book.description
