.title
  %h1
    = @book.title
  %h4
    %i
      = @book.subtitle

- if @book.google_book
  .row
    .span2
      %img{src: @book.google_book.covers[:small], class: "img-polaroid"}
    .span10
      %dl.dl-horizontal
        %dt Authors
        %dd
          %ul.commas
            - @book.author.each do |author|
              %li
                = link_to author.full_name, author

        %dt ISBN
        %dd 
          =@book.ISBN

        %dt Publish date
        %dd
          = @book.publish_date 

        %dt Description
        %dd
          = @book.google_book.description




= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
