%h3 Current Reservations

%table.table.table-striped
  %tr
    %th id
    %th User
    %th Book
    %th Actions
    

  - @reservations.each do |reservation|
    %tr
      %td= reservation.id
      %td 
        = reservation.user.user_name
      %td
        = reservation.book.title
      %td
        = link_to "Delete", reservation, method: :delete, class: "btn btn-danger"

%br

= link_to 'New Reservation', new_reservation_path
