.btn-group.pull-right
  %button.btn.btn-default{type: 'button', onclick: "location.href='#{reservations_path}'"}
    All Reservations
  %button.btn.btn-default{type: 'button', onclick: "location.href='#{reservations_path(params: {active:true})}'"}
    Active Reservations

%h3 Current Reservations

%table.table.table-striped.table-hover
  %tr
    %th id
    %th User
    %th Book
    %th Reserved on
    %th Fulfilled
    %th Expires on

  - @reservations.each do |reservation|
    %tr{onclick: "location.href='#{reservation_path(reservation)}'"}
      %td= reservation.id
      %td
        = reservation.user_name
      %td
        = reservation.title
      %td
        = reservation.reserve_at.strftime('%B %d, %Y %l:%M %p')
      %td
        = reservation.fulfilled
      %td
        = reservation.expires_at.strftime('%B %d, %Y %l:%M %p')