= form_for checkout do |f|
  -if checkout.errors.any?
    #error_explanation
      %h2= "#{pluralize(checkout.errors.count, "error")} prohibited this checkout from being saved:"
      %ul
        - checkout.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :patron_id
    = f.text_field :patron_id
  .field
    = f.label :book
    = f.text_field :book
  .field
    = f.label :checked_out_at
    = f.text_field :checked_out_at
  .field
    = f.label :checked_in_at
    = f.text_field :checked_in_at
  .actions
    = f.submit 'Save'
