%h3 Current Checkouts

%table.table.table-striped
  %tr
    %th id
    %th Patron
    %th Book
    %th Checked Out Time
    %th Actions

  - @checkouts.each do |checkout|
    %tr
      %td= checkout.id
      %td= checkout.patron.user_name
      %td= checkout.book.title
      %td= checkout.checked_out_at.strftime("%Y-%m-%d %l:%M %p")
      %td
        = form_for checkout, html: {class: "btn-form"} do |f|
          = f.hidden_field "checked_in_at", value: "now"
          = f.submit "Check In", class: "btn btn-primary"
