
= form_for(@checkout) do |f|
  -if @checkout.errors.any?
    .alert.alert-danger
      - @checkout.errors.full_messages.each do |msg|
        = msg
        %br
  .text-center
    %h3 Check out book
  %br
  = f.text_field :book, name: 'isbn', placeholder: 'ISBN', value: @checkout.book.try(:isbn), class: 'form-control input-lg center-text'
  %br
  = f.password_field :distributor, name: 'distributor_barcode', placeholder: 'Distributor', class: 'form-control input-lg center-text'
  %br
  = f.password_field :patron, name: 'patron_barcode', placeholder: 'Patron', class: 'form-control input-lg center-text'
  %br
  %div
    = f.submit 'Check out', class: 'btn btn-primary',style: 'display: block; margin: 0 auto;'
