<!DOCTYPE html>
%html
  %head
    %title
      Alexandria
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

  %body
    .nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand.visible-desktop{ href: "/" }
            =image_tag("logo.png", class: "logo", alt: "Alexandria logo")
            Alexandria
          %a.brand.hidden-desktop{ href: "/" }
            =image_tag("logo.png", class: "logo", alt: "Alexandria logo")

          %form.navbar-search.pull-left{action: "/books"}
            %input{ id: "master-search", type: "text", placeholder:"Search for a book...", "data-provide" => "typahead", autocomplete: "off", name:"search", autofocus: "autofocus"}          
          .pull-right
            -if user_signed_in?
              %ul.nav
                %li
                  =link_to current_user.email, user_path(current_user)
              = link_to "Add Book", "books/new", class: "btn"
              = link_to "Sign out", destroy_user_session_path, class: "btn", method: :delete

            -else
              = link_to "Sign in", user_omniauth_authorize_path(:google_oauth2), class: "btn"

    .container      
      - if notice
        .alert.alert-success
          = notice
      = yield