!!! 5
%html
  %head
    %title
      Alexandria
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand.visible-lg{ href: "/" }
            =image_tag("logo.png", class: "logo", alt: "Alexandria logo")
            Alexandria
          %a.navbar-brand.hidden-lg{ href: "/" }
            =image_tag("logo.png", class: "logo", alt: "Alexandria logo")

        %form.navbar-form.navbar-left{action: "/books"}
          %input.form-control{ id: "master-search", type: "text", placeholder:"Search for a book...", "data-provide" => "typeahead", autocomplete: "off", name:"search", autofocus: "autofocus"}
        .navbar-right
          -if user_signed_in?
            = link_to current_user.email, user_path(current_user)
            = link_to "Sign out", destroy_user_session_path, class: "btn btn-default navbar-btn", method: :delete

          -else
            = link_to "Sign in", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default navbar-btn"

    .container
      - if notice
        .alert.alert-success
          = notice
      - if alert
        .alert.alert-danger
          = alert
      = yield
      %hr
      %footer.pull-right
        %small
          The library for the
          %a{href: "https://sse.se.rit.edu"}
            Society of Software Engineers
