<!DOCTYPE html>
%html
  %head
    %title
      Alexandria
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ href: "#" }
            =image_tag("logo.png", class: "logo", alt: "Alexandria logo")
            Alexandria

          .pull-right
            -if user_signed_in?
              %ul.nav
                %li
                  =link_to current_user.email, user_path(current_user)
              = link_to "Sign out", destroy_user_session_path, class: "btn", method: :delete
            -else
              = link_to "Sign in", user_omniauth_authorize_path(:google_oauth2), class: "btn"
    .container      
      - if notice
        .alert.alert-success
          = notice
      = yield